# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Roi Coin
Comment=Roi Coin QT main network
GenericName=ROICOIN Digital Currency QT client main network
Exec=roicoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/roicoin.png
MimeType=x-scheme-handler/roicoin;
Categories=X-Office;X-Finance;
Keywords=internet;roicoin;zroi;roi;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
